#logo {
    height: auto;
    width: 150px;
}

.navbar{
    min-height: 75px;
    background-color: rgba(0,0,0,0.8);
    font-size: 1.25em;
    color: $white;
}
.navbar-toggler{
    color: $white;
    font-size: 2em;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
     
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}