/*fonts*/
$roboto : 'Roboto', sans-serif;
$sourcesans : 'Source Sans Pro', sans-serif;

/*couleur*/
$white : #fff;
$darkgray : #0D0D0D;
$gray : #949799;
$lightgray : #F2F2F2;
$tonic : #D22D17;